<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
   <Appenders>
      <Console name="ConsoleErr" follow="true" target="SYSTEM_ERR">
         <PatternLayout pattern="%d: %msg"/>
      </Console>
      <Console name="ConsoleOut" follow="true" target="SYSTEM_OUT">
         <PatternLayout pattern="%d: %msg"/>
      </Console>
      <Routing name="Routing">
         <Routes pattern="$${ctx:ROUTINGKEY}">
            <!-- This route is chosen if ThreadContext has value "slave" for key ROUTINGKEY. -->
            <Route key="slave">
               <File name="slaveFile" fileName="${ctx:LOG_FILE}">
                  <PatternLayout pattern="%d: %msg"/>
               </File>
            </Route>
            <!-- This route is chosen if ThreadContext key ROUTINGKEY has not been modified -->
            <Route key="$${ctx:ROUTINGKEY}">
               <Async name="MasterAsync">
                  <AppenderRef ref="ConsoleOut"/>
               </Async>
            </Route>
         </Routes>
      </Routing>
   </Appenders>
   <Loggers>
      <Logger name="MainLogger" level="DEBUG" additivity="false">
         <AppenderRef ref="Routing"/>
      </Logger>
      <Root level="ERROR">
         <AppenderRef ref="ConsoleErr"/>
      </Root>
   </Loggers>
</Configuration>