/containers
/client
/testrigs
.DS_Store
.*.swp

# Ignore the list of java files to format-check
/files_to_check

# IntelliJ project files that should not be shared, per:
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
/.ijwb

# VSCode settings
/.vscode

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

# Ignore python cache files
__pycache__
.pytest_cache/

# pyenv files
/.python-version

# If someone happens to install the busted antlr4 plugin, ignore the files it creates
/gen/
**/antlr4/**/gen/
