/* #### bootstrap Form #### */

body {
    background: #FFF;
    font-size: 14px;
    font-family: 'Segoe UI';
    color:#888;
}
table {
    border: 0;
    width:auto;
    vertical-align: top;
    border-spacing: 2px 2px;
    table-layout: fixed;
}

td {
    vertical-align: top;
    align-content: center;
}

.myform {
    margin-left:auto;
    margin-right:auto;

    max-width: 800px;
    background: #FFF;
    padding: 1px 1px 1px 1px;
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.myform input[type="text"] {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #888;
}

.myform input[type="file"]{
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #888;
}

.myform input[type="button"] {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #000;
}

.myform input[type="button"]:disabled {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #888;
}


