#cy {
	width: 800px;
	height: 800px;
	display: block;
	border-width: 1px;
	border-radius: 5px;
	background-color: #fff3e4;
}

textarea{
	width: 800px;
	height: 800px;
	display: block;
	border-width: 1px;
	border-radius: 5px;
	background-color: #fff3e4;
}

textarea#txtOutput{
	height: 200px;
}

textarea#txtQuestion{
	height: 550px;
}
