name: Lab Validation for PR

on:
  pull_request:
    types: [labeled, synchronize]

jobs:
  lab-validation:
    if: contains(github.event.pull_request.labels.*.name, 'lab-validation')
    uses: batfish/lab-validation/.github/workflows/reusable-lab-validation.yml@main
    with:
      batfish_repository: ${{ github.event.pull_request.head.repo.full_name }}
      batfish_ref: ${{ github.event.pull_request.head.ref }}